*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font: 14px 'Open Sans', Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    outline: none;
}

img {
	max-width: 100%;
}

.d-flex {
	display: flex;	
}

.flex-wrap {
	flex-wrap: wrap;
}

.text-center {
	text-align: center;
}

.text-uppercase {
	text-transform: uppercase;
}

.text-right {
    text-align: right;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

.wrapper_fix {
    display: flex;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1170px;
    padding: 0 15px;
}

.standart-section {
	padding: 80px 0;
}

.catalog-title {
	font-weight: 900;	
	margin-bottom: 75px;
	font-size: 30px;
}

.col-3{
    width: 25%;
    padding: 0 15px;
    box-sizing: border-box;
}

.header,
.footer {
    width: 100%;
    flex-shrink: 1;
}

.main {
    width: 100%;
    flex-grow: 1;
}

.header {
    padding: 20px 0;
	border-bottom: 2px solid #1000e9;
	background-color: #fff;
	box-shadow: 0 10px 30px rgba(219, 13, 126, 0.2);
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 99;
}

.header_nav-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

.header_nav {
    display: flex;
    margin: 0 -10px;    
}

.header_nav-item {
    padding: 0 10px;
}

.goods-tile {
    background-color: #fff;
    box-shadow: 0 13px 27px rgba(0, 0, 0, 0.15);
    padding: 20px;
    margin-bottom: 30px;
    font-size: 21px;
    font-weight: 700;
}

.goods-tile .goods-tile-img {
    display: block;
    margin-bottom: 20px;
}

.goods-tile .goods-price {
    font-size: 15px;
    font-weight: 700;
    color: #00e9ba;
}
